<div class="jumbotron-mt-4">
    <h1 class="display-4">IoT Web App for Cloud Computing</h1>
    <p class="lead">Universidad Politécnica de Madrid - Master in IoT - Cloud Computing - Group#5</p>
    <hr class="my-4">
    
</div>
<div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <img src="public/home.jpg" class="img-responsive">
            </div>
        </div>
    </div>