
<div class="card">
    <div class="card-body">
        <iframe src='https://webchat.botframework.com/embed/g5-WebBot?s=USEu4O0yvh8.wYgweN0eRNi1_yzAPj2oXPmRvgx5B4HvY8np9LJSA-U'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
    </div>
</div>


